.avatar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: auto;
  mask-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 100 100" xml:space="preserve"><style type="text/css">.blur{filter:url(%23softedge);}</style><filter id="softedge"><feGaussianBlur stdDeviation="3.5"></feGaussianBlur></filter><g class="blur"><rect x="10" y="10" width="82" height="83"/></g></svg>');
  mask-size: cover;

  @media (max-width: 1024px) {
    position: initial;
    width: 80%;
    height: auto;
  }

  @media (min-height: 1200px) and (orientation: portrait) {
    position: initial;
    width: 100%;
    height: auto;
  }
}

.title {
  color: white;
  z-index: 1;
  font-size: 3rem;
  position: fixed;
  top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-left: -100px;
  @media (max-width: 1270px) {
    margin-left: -200px;
  }
  @media (max-width: 1024px) {
    margin-left: 0;
    flex-direction: column;
    position: initial;
    margin-top: 1rem;
  }
  @media (max-width: 700px) {
    font-size: 1.7rem;
    top: 10px;
  }

  @media (min-height: 1200px) and (orientation: portrait) {
    position: initial;
  }
}

.span {
  float: left;
  text-align: center;
  @media (max-width: 1024px) {
    float: initial;
  }
}

.span2 {
  margin: 100px 0 0 0;
  color: #ec7a39;
  padding-left: 5px;
  @media (max-width: 1024px) {
    margin: 0 auto;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20rem;
  padding-top: 3rem;
  @media (max-width: 1350px) {
    padding-left: 10rem;
  }
  @media (max-width: 1180px) {
    padding-left: 10rem;
  }
  @media (max-width: 1084px) {
    padding-left: 6rem;
  }
  @media (max-width: 1024px) {
    padding-top: 0;
    padding-left: 0;
    width: 250px;
    margin-top: 20px;
  }
  @media (min-height: 1200px) and (orientation: portrait) {
    padding-left: 0;
    flex-direction: row;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  width: 100%;
  @media (max-width: 1024px) {
    margin-top: 0;
    margin-bottom: 10px;
    .spotify {
      width: 60px;
      height: 60px;
    }
    .insta {
      width: 60px;
      height: 60px;
    }
    .soundcloud {
      width: 90px;
      height: 60px;
    }
    .tiktok {
      width: 53px;
      height: 60px;
    }
    .bandcamp {
      width: 60px;
      height: 60px;
    }
  }
  @media (min-height: 1200px) and (orientation: portrait) {
    margin-top: 0;
    margin-left: 15px;
  }
}

.content {
  margin: 0 20px;
}
