.section {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  height: 100%;
  @media (max-width: 1024px) {
    padding: 1rem 0;
  }
}

.releaseGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  justify-content: center;
  align-items: baseline;
  justify-items: center;
  gap: 8px 2px;
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.releaseGridItem {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  text-align: center;
}

.sectionTitle {
  margin-bottom: 1rem;
  color: #ec7a39;
}

.iconGrid {
  display: grid;
  justify-content: center;
  align-items: baseline;
  justify-items: center;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  @media (max-width: 1024px) {
    grid-template-columns: repeat(auto-fill,minmax(80px, 1fr));
    /*.icon {*/
    /*  width: auto;*/
    /*  height: 60px;*/
    /*}*/
  }
}
